<mat-table [dataSource]="devices">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.color}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="partNumber">
      <mat-header-cell *matHeaderCellDef> Part Number </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.partNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.category.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef> Opções </mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <button (click)="deleteDevice(row.links.endpoint,row.id)"> 
            <i class="material-icons red">
                delete
            </i> 
          </button>
          <button (click)="updateDevice(row.id)"> 
            <i class="material-icons orange">
                edit
            </i> 
          </button>
        </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="['name', 'color', 'partNumber','category','options']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'color', 'partNumber','category','options']"></mat-row>
  </mat-table>
  