.header{
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    z-index: 1;
}
.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header .logo{
    max-height: 30px;
}
.header .title-group{
    padding-left: 25px;
}
.header .title-group i{
    padding-right: 5px;
}
.brand{
  display: flex;
}
.logo{
  padding-left: 10px;
}