<mat-table [dataSource]="categories">

     <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef> Opções </mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <button (click)="deleteCategory(row.links.endpoint,row.id)"> 
          <i class="material-icons red">
              delete
          </i> 
        </button>
        <button > 
          <i class="material-icons orange">
              edit
          </i> 
        </button>
      </mat-cell>
    </ng-container>
  
    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['id', 'name','options']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['id', 'name', 'options']"></mat-row> 
</mat-table>
  