/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main{
    margin-left: 210px;
    margin-top:25px;
}
.option-btn{
    padding:5px;
    border-radius: 50%;
    margin-right: 5px;
}